<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gxu.tbvp.mapper.ManagerRoleMapper" >
  <resultMap id="BaseResultMap" type="com.gxu.tbvp.domain.ManagerRole" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="managerId" property="managerid" jdbcType="INTEGER" />
    <result column="roleId" property="roleid" jdbcType="INTEGER" />
  </resultMap>
</mapper>