<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.gxu.tbvp.mapper.ScenicMapper">
  <resultMap id="BaseResultMap" type="com.gxu.tbvp.domain.Scenic" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="produceId" property="id" jdbcType="INTEGER" />   <!--column:sql -->
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="place" property="place" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />

  </resultMap>

  <!--<select id="selectAllScenicsId" resultType="int" >-->
    <!--select produceId from produceitem-->
  <!--</select>-->

  <!--<select id="selectScenicByKey" resultType="string" parameterType="int">-->
    <!--select title from produceitem where produceId = #{key}-->
  <!--</select>-->

  <select id="getProduceByCity" parameterType="java.lang.String" resultType="com.gxu.tbvp.domain.Scenic">
    SELECT * FROM scenic WHERE city =#{city}
  </select>





</mapper>

