<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/adminSystem/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/adminSystem/css/jquery.dataTables.min.css}" />
    <link rel="stylesheet" th:href="@{/adminSystem/css/matrix-style.css}" />
    <link rel="stylesheet" th:href="@{/adminSystem/css/matrix-media.css}" />
    <link th:href="@{/adminSystem/font-awesome/css/font-awesome.css}" rel="stylesheet" />
    <title>路线管理</title>
</head>
<body>

<!--Header-part-->
<div id="header">
    <h1><a href="dashboard.html">Matrix Admin</a></h1>
</div>
<!--close-Header-part-->

<!--top-Header-menu-->
<div th:include="common/top :: top"></div>
<div th:include="common/menu :: menu"></div>

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Tables</a> </div>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span12">

                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                        <h5>路线列表</h5>
                    </div>
                    <form class="form-inline">
                        <button type="button" shiro:hasPermission="/route/add" onclick="$('#resourcesModal').modal();" class="btn btn-info" style="float: right; margin-right: 1px;">新增</button>
                        <button type="button" shiro:hasPermission="/route/delete" onclick="delById();" class="btn btn-info" style="float: right; margin-right: 1px;">删除</button>
                    </form>
                    <table class="table table-bordered data-table" id="datatable" >
                        <thead>
                        <tr>
                            <th>
                                <input type="checkbox" class="checkall" />
                            </th>
                            <th>ID</th>
                            <th>路线名称</th>
                            <th>路线链接</th>
                            <th>路线套餐价格</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Footer-part-->
<div class="row-fluid">
    <div id="footer" class="span12"> 2017 &copy; yqj <a href="http://themedesigner.in/">Themedesigner.in</a> </div>
</div>
<!--添加弹框-->
<div class="modal fade" id="resourcesModal" tabindex="-1" role="dialog" aria-labelledby="addroleLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addroleLabel">添加路线</h4>
            </div>
            <div class="modal-body">
                <form id="resourcesForm">
                    <div class="form-group">
                        <label  class="control-label">路线名称:</label>
                        <input type="text" class="form-control" name="route" id="route" placeholder="请输入路线名称"/>
                    </div>
                    <div class="form-group">
                        <label  class="control-label">路线链接:</label>
                        <input type="text" class="form-control" id="description" name="description"  placeholder="请输入路线链接">
                    </div>
                    <div class="form-group">
                        <label  class="control-label">路线价格:</label>
                        <input type="text" class="form-control" id="price" name="price"  placeholder="请输入路线价格">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="addResources();" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<!--end-Footer-part-->

<script type="text/javascript" th:src="@{/adminSystem/js/jquery-1.11.2.min.js}"></script>
<script th:src="@{/adminSystem/js/bootstrap.min.js}" th:sr></script>
<script th:src="@{/adminSystem/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/adminSystem/js/layer.js}"></script>

<script type="text/javascript">
    var table;
    $(".checkall").click(function () {
        var check = $(this).prop("checked");
        $(".checkchild").prop("checked", check);
    });
    $(document).ready(function() {
        table = $('#datatable').DataTable( {
            "dom": '<"top"i>rt<"bottom"flp><"clear">',
            "searching" : false,
            "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "serverSide": true,//开启服务器模式，使用服务器端处理配置datatable
            "processing": true,//开启读取服务器数据时显示正在加载中……特别是大数据量的时候，开启此功能比较好

            "ajax": 'route',
            "columns": [
                {
                    "sClass": "text-center",
                    "data": "id",
                    "render": function (data, type, full, meta) {
                        return '<input type="checkbox"  class="checkchild"  value="' + data + '" />';
                    },
                    "bSortable": false
                },
                { "data": "id" },
                { "data": "route" },
                { "data": "description" },
                { "data": "price" },
            ],
            columnDefs:[
                { "orderable": false, "targets": 1 },
                { "orderable": false, "targets": 2 },
                { "orderable": false, "targets": 3 },
                { "orderable": false, "targets": 4 },
            ],

        } );



    } );


    //添加用户
    function addResources() {
        var route = $("#route").val();
        var description = $("#description").val();
        var price = $("#price").val();


        if(route == "" || route == undefined || route == null){
            return layer.msg('路线名称不能为空', function(){
                //关闭后的操作
            });
        }
        if(price == "" || price == undefined || price == null){
            return layer.msg('价格名称不能为空', function(){
                //关闭后的操作
            });
        }
        if(description == "" || description == undefined || description == null){
            return layer.msg('链接名称不能为空', function(){
                //关闭后的操作
            });
        }
        $.ajax({
            cache: true,
            type: "POST",
            url:'route/add',
            data:$('#resourcesForm').serialize(),// 你的formid
            async: false,
            success: function(data) {
                if(data=="success"){
                    layer.msg('保存成功');
                    table.ajax.reload();
                    $('#resourcesModal').modal('hide');
                }else{
                    layer.msg('保存失败');
                    $('#resourcesModal').modal('hide');
                }
            }
        });
    }

    function delById() {
        var id = $(".checkchild:checked").val();
        if ($(".checkchild:checked").length < 1)
        {
            layer.msg('请选择一条数据');
            return;
        }
        if ($(".checkchild:checked").length > 1)
        {
            layer.msg('一次只能修改一条数据');
            return;
        }
        layer.confirm('您确定要删除该资源吗？', {
            btn: ['确认','取消'] //按钮
        }, function(){
            $.ajax({
                cache: true,
                type: "POST",
                url:'route/delete',
                data:{id:id},
                async: false,
                success: function(data) {
                    if(data=="success"){
                        layer.msg('删除成功');
                        table.ajax.reload();
                    }else{
                        layer.msg('删除失败');
                    }
                }
            });
        });

    }


</script>

</body>
</html>